{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
